

.simplePopup {
display:none;
position:fixed;
border:4px solid #1ABC9C;
background:#ECF0F1;
z-index:3;
padding:12px;
width:70%;
min-width:70%;
border-radius: 5px;
}

.simplePopupClose {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #1ABC9C;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: center;
  width: 30px;
}
#pop1 p {
  line-height: 30px;
  margin-top: 28px;
  text-align: justify;
}

.simplePopupBackground {
display:none;
background:#000;
position:fixed;
height:100%;
width:100%;
top:0;
left:0;
z-index:1;
}
#pop1 button {
  background:#1ABC9C;
  border: medium none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  float: right;
  padding: 5px 8px;
}
